* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nerko One', cursive;

    background-color: rgb(255, 205, 205);
}
.wrapper {
    width: 70%;
    margin: 40px auto;
}

/* classi comuni */
.box-shadow {
    box-shadow: 2px 2px 4px rgba(56, 55, 55, .7);
}

.t-center {
    text-align: center;
}
/* ombra per il testo del sito */
.t-shadow {
    text-shadow: 2px 2px 4px rgba(56, 55, 55, .7);
}
/* ombra per il testo delle cards */
.small-shadow {
    text-shadow: 1px 1px 1px rgba(56, 55, 55, .3);
}
/* colori dei testi */
.t-white {
    color: white;
}
.t-dark {
    color: rgb(56, 55, 55);
}
.t-pink {
    color: rgb(250, 114, 177);
}
.t-blue {
    color: rgb(18, 78, 146);
}
.t-yellow{
    color: rgb(255, 203, 60);
}
.t-orange {
    color: rgb(236, 110, 6);
}
.t-purple {
    color: rgb(162, 85, 207);
}
.t-teal {
    color: teal;
}


/* float e clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.f-left {
    float: left;
}


/* impostazioni blocchi */
header h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

main {
    width: 100%;
}

.row {
    width: 100%;

    margin: 20px 0;
}

.card {
    width: calc(25% - 15px);
    height: 250px;

    margin-right: 15px;

    position: relative;

    background-color: white;
    border-radius: 20px;
}
/* rimosso margine all'ultima card. 15px per gutter */
.row .card:last-child {
    margin-right: 0;
}

/* angoli arrontondati card */
.card .pattern, .vedo-card {
    border-radius: 20px;
}

.card .pattern{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* posizionamento immagine card */
.card .vedo-picture {
    width: 100%;
    height: 70%;

    object-fit: contain;

    position: absolute;
    top: 20px;
    right: 0;
}

/* lato immagine della carta */
.vedo-card {
    width: 100%;
    height: 100%;

    display: none;

    border: 10px solid rgb(255, 183, 183);
}

.vedo-card h3 {
    font-size: 1.3rem;

    position: absolute;
    bottom: 20px;
 
    width: calc(100% - 15px);
    text-align: center;
}

.card:hover .vedo-card {
    display: block;
}

.card:hover .pattern {
    display: none;
}

/* card yellow submarine sempre visibile */
#vedo-never {
    display: none;
}
#vedo-always {
    display: block;
}


footer {
    height: 50px;
    line-height: 50px;
}